Project01/Temp/*.*
Library/CurrentLayout.dlwt
Library/metadata/00/*.*
Project01/Temp/UnityLockfile
Project01/Library/CurrentLayout.dwlt
Project01/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Project01/Library/assetDatabase3
Project01/Library/CurrentLayout.dwlt
Project01/Temp/UnityTempFile-31c55c86bd760b34fa4d8cf9124c42cb